/* Week 9 Coding Assignment
CSS for the Home Page */

body {
    background: url("hockey-wallpaper.jpg") no-repeat center center fixed;
    background-size: cover;   
    font-family: 'Montserrat', sans-serif;
  }

h4 {
    color:rgb(84, 5, 5);
    opacity:50%;   
    font-weight: bolder;
    background-color: aliceblue;
}

h5 {
    font-weight: 900;
}
.navbar {
    font-size: large;
    background-color:rgb(236, 236, 93);
}

.images {
    opacity:90%;
}

.lists {
    opacity:80%;
}

.quote {
    text-align:center;
    font-weight:700;
    color:hwb(1 2% 65%);
    opacity:70%;
    background-color:rgb(204, 207, 243);
    width:fit-content;
    margin-left:27%;
    margin-top:5%;
    font-weight:900;  
}

figure {
    padding: 10px 10px;
    display: block;
    width:fit-content;
    margin-left: 36%;

    background-color:hsl(219, 74%, 85%);
    margin-bottom: -1.5%;
    margin-top: 4%;
}

button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-content: center;
    }

.tableintro {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        padding-left: 1px;
        padding-right: 2px;
        background-color:hwb(204 16% 25%);
        text-align: center;
        margin-bottom: 0.05%;
        margin-top: 5%;
        font-size:larger;
        font-weight: 900;
        color:white;
        opacity:80%;
    }

    td {
        font-weight: 900;
    }
    