html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background: url("hockey-wallpaper.jpg") no-repeat center center fixed;
    background-size: cover;
}

    .gradient {
    background: rgb(186, 183, 234);
    background: linear-gradient(
    90deg, rgba(2,0,36,1) 0%,
     rgba(231,219,219,1) 100%
     );
}

.page-header {
    margin-top: 4rem;
    margin-bottom: 0rem;
    font-size: 1.25rem;
    color: white;
}

.dropdown-item {
    color:rgb(13, 5, 90);

}

.navbar {
    font-size: large;
    background-color:rgb(236, 236, 93);
}

.Coyne {
    margin-left:20%
}