/* Week 9 Coding Assignment
CSS for the Landing Page */

html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background: url("hockey-wallpaper.jpg") no-repeat center center fixed;
    background-size: cover;
}

    .gradient {
    background: linear-gradient(
    90deg, rgb(37, 112, 84) 0%,
     rgb(154, 240, 224) 100%
     );
}

.page-header {
    margin-top: 4rem;
    margin-bottom: 0rem;
    font-size: 1.25rem;
    color: white;
}

.dropdown-item {
    color:rgb(13, 5, 90);

}

.navbar {
    font-size: large;
}

.Coyne {
    margin-left:20%
}